*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(image.jpg);
    font-family: sans-serif;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-bar{
    text-align: center;
    position: relative;
    z-index: 5;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.menu:hover{
    background: royalblue;
    border-radius: 10px;
    padding: 20px;
}
.active{
    padding: 20px;
    background: royalblue;
    border-radius: 10px;
}
.menu{
    padding: 20px;
    margin-left: 5px;
}
.overlay{
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.3);
    position:absolute;
    top:0px;
    left:0px;   
}